In [90]:
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

In [3]:
xls = pd.ExcelFile('Adventure Works Data.xlsx')

In [7]:
employeeHR = xls.parse(0)
BusinessEntityaddress = xls.parse(1)
salesperson = xls.parse(2)
contact = xls.parse(3)
employeePay = xls.parse(4)
address = xls.parse(5)

In [250]:
employeeHR.columns

Index(['Birth Date', 'Business Entity ID', 'Current Flag', 'Gender',
       'Hire Date', 'Job Title', 'Login ID', 'Marital Status', 'Modified Date',
       'National ID Number', 'Organization Node', 'Rowguid', 'Salaried Flag',
       'Number of Records', 'Organization Level', 'Sick Leave Hours',
       'Vacation Hours'],
      dtype='object')

In [251]:
contact.columns

Index(['Additional Contact Info', 'Business Entity ID', 'First Name',
       'Last Name', 'Middle Name', 'ModifiedDate (Person)', 'Name Style',
       'rowguid (Person)', 'Suffix', 'Title', 'Email Promotion'],
      dtype='object')

In [252]:
employeePay.columns

Index(['Business Entity ID', 'Modified Date', 'Rate Change Date',
       'Number of Records', 'Pay Frequency', 'Rate'],
      dtype='object')

In [236]:
salesperson.shape

(17, 10)

In [22]:
contact.columns = ['Additional Contact Info', 'Business Entity ID', 'First Name',
       'Last Name', 'Middle Name', 'ModifiedDate (Person)', 'Name Style',
       'rowguid (Person)', 'Suffix', 'Title', 'Email Promotion']

In [259]:
dfmerged = employeeHR.merge(employeePay,on = 'Business Entity ID', 
                            how='outer'
                           ).merge(contact,on = 'Business Entity ID',
                                   how='outer'
                                  ).merge(salesperson,on = 'Business Entity ID',
                                          how='outer')
dfmerged = dfmerged.reindex_axis(sorted(dfmerged.columns), axis=1)
dfmerged.shape

(290, 41)

In [234]:
df_1 = dfmerged[['Business Entity ID', "Last Name", "First Name", 
                 "Job Title", "Rate", "Bonus", "Sales Quota",
                 "Sales Last Year"]].sort_values(by = 'Rate',ascending = False)
df_1['Name'] = df_1["First Name"]+' '+df_1["Last Name"]
df_1.drop("First Name",axis = 1).drop("Last Name",axis = 1).head()

,Business Entity ID,Job Title,Rate,Bonus,Sales Quota,Sales Last Year,Name
0,1.0,Chief Executive Officer,125.5000,NaN,NaN,NaN,Ken Sánchez
26,25.0,Vice President of Production,84.1346,NaN,NaN,NaN,James Hamilton
288,273.0,Vice President of Sales,72.1154,NaN,NaN,NaN,Brian Welcker
1,2.0,Vice President of Engineering,63.4615,NaN,NaN,NaN,Terri Duffy
248,234.0,NaN,60.0962,NaN,NaN,NaN,Laura Norman

In [141]:
df_1.sort_values(by = 'Rate',ascending = False).ix[0][['Name','Job Title']]

Name                     Ken Sánchez
Job Title    Chief Executive Officer
Name: 0, dtype: object

In [143]:
print(df_1.sort_values(by = 'Bonus',ascending = False).dropna(
        subset = ['Bonus'])[:1][['Name','Bonus']])

            Name   Bonus
300  Tsvi Reiter  6700.0

In [145]:
print(df_1.sort_values(by = 'Sales Last Year',ascending = False).dropna(
        subset = ['Sales Last Year'])[:1][['Name','Sales Last Year']])

                         Name  Sales Last Year
322  Ranjit Varkey Chudukatil     2.396540e+06

In [147]:
df_1_a = df_1.dropna(subset = ['Sales Last Year','Sales Quota'])
print(df_1_a[df_1_a['Sales Last Year']<df_1_a['Sales Quota']][['Name']])

                 Name
310  Tete Mensa-Annan

In [289]:
df_1_a['Sales Last Year']-df_1_a['Sales Quota']

292    1.450406e+06
294    1.189156e+06
296    1.747186e+06
298    1.370277e+06
300    1.549641e+06
302    1.677059e+06
304    1.823506e+06
306    1.788235e+06
308    1.121635e+06
310   -3.000000e+05
314    2.028549e+06
318    1.057950e+06
320    1.385823e+06
322    2.146540e+06
dtype: float64

In [291]:
df_1_a.ix[322]['Name']

'Ranjit Varkey Chudukatil'

In [288]:
(df_1_a['Sales Last Year']-df_1_a['Sales Quota'])==2146539.7601000001

292    False
294    False
296    False
298    False
300    False
302    False
304    False
306    False
308    False
310    False
314    False
318    False
320    False
322     True
dtype: bool

In [148]:
df_1['Rate'].dropna().describe()

count    290.000000
mean      18.188257
std       12.290579
min        9.000000
25%       11.000000
50%       14.000000
75%       23.076900
max      125.500000
Name: Rate, dtype: float64

In [149]:
from collections import Counter
Counter(df_1['Rate'].dropna()).most_common(1)

[(9.5, 27)]

In [171]:
Counter(df_1['Job Title'].dropna()).most_common(10)

[('Production Technician - WC40', 26),
 ('Production Technician - WC50', 26),
 ('Production Technician - WC60', 26),
 ('Production Technician - WC30', 25),
 ('Production Technician - WC20', 22),
 ('Production Technician - WC10', 17),
 ('Production Technician - WC45', 15),
 ('Sales Representative', 14),
 ('Buyer', 9),
 ('Marketing Specialist', 5)]

In [169]:
df_1_b  = df_1.dropna(subset = ['Job Title'])
Counter(df_1_b[df_1_b['Job \
Title'].str.contains("Production \
Technician")]['Rate'].dropna()).most_common()

[(11.0, 26),
 (12.449999999999999, 26),
 (15.0, 26),
 (14.0, 22),
 (9.5, 17),
 (13.449999999999999, 17),
 (10.0, 15)]

In [200]:
df_1.dropna(subset = ['Sales Last Year','Sales Quota'])[['Sales Quota','Sales Last Year']].diff(axis = 1).sort_values(by = 'Sales Last Year',ascending  = False)[:1]

     Sales Quota  Sales Last Year
322          NaN     2.146540e+06

In [202]:
df_1.ix[322]['Name']

'Ranjit Varkey Chudukatil'

In [296]:
dfmerged['Hire Year'] = list(map(lambda x: x.year, dfmerged['Hire Date']))
Counter(dfmerged['Hire Year'].dropna())

Counter({2000: 1,
         2001: 2,
         2002: 16,
         2003: 198,
         2004: 45,
         2005: 21,
         2006: 4,
         2007: 3})

In [309]:
26+25+19+18+16+15

119

In [111]:
Counter(dfmerged[dfmerged['Hire Year']==2003]['Job Title']).most_common()

[('Production Technician - WC50', 26),
 ('Production Technician - WC30', 25),
 ('Production Technician - WC40', 19),
 ('Production Technician - WC60', 18),
 ('Production Technician - WC20', 16),
 ('Production Technician - WC45', 15),
 ('Marketing Specialist', 4),
 ('Application Specialist', 4),
 ('Scheduling Assistant', 4),
 ('Quality Assurance Technician', 3),
 ('Production Supervisor - WC40', 3),
 ('Production Supervisor - WC30', 3),
 ('Production Supervisor - WC10', 3),
 ('Accounts Receivable Specialist', 3),
 ('Stocker', 3),
 ('Production Supervisor - WC20', 3),
 ('Production Supervisor - WC45', 3),
 ('Production Supervisor - WC50', 2),
 ('Human Resources Administrative Assistant', 2),
 ('Accounts Payable Specialist', 2),
 ('Control Specialist', 2),
 ('Accountant', 2),
 ('Shipping and Receiving Clerk', 2),
 ('Recruiter', 2),
 ('Database Administrator', 2),
 ('Document Control Assistant', 2),
 ('Buyer', 2),
 ('Network Administrator', 2),
 ('Research and Development Manager', 2),
 ('Research and Development Engineer', 2),
 ('Document Control Manager', 1),
 ('Benefits Specialist', 1),
 ('Network Manager', 1),
 ('Assistant to the Chief Financial Officer', 1),
 ('Information Services Manager', 1),
 ('Production Control Manager', 1),
 ('Maintenance Supervisor', 1),
 ('Shipping and Receiving Supervisor', 1),
 ('Quality Assurance Manager', 1),
 ('Chief Executive Officer', 1),
 ('Accounts Manager', 1),
 ('Vice President of Production', 1),
 ('Human Resources Manager', 1),
 ('Finance Manager', 1),
 ('Chief Financial Officer', 1),
 ('Master Scheduler', 1),
 ('Quality Assurance Supervisor', 1)]

In [301]:
df_5 = dfmerged.dropna(subset = ['Hire Year'])

In [307]:
df_5['Job Title2'] = list(map(lambda x:x.split('-')[0],df_5['Job Title']))

In [308]:
df_5.to_csv('df_5.csv')

In [310]:
dfmerged.columns

Index(['Additional Contact Info', 'Birth Date', 'Bonus', 'Business Entity ID',
       'Commission Pct', 'Current Flag', 'Email Promotion', 'First Name',
       'Gender', 'Hire Date', 'Job Title', 'Last Name', 'Login ID',
       'Marital Status', 'Middle Name', 'Modified Date', 'Modified Date_x',
       'Modified Date_y', 'ModifiedDate (Person)', 'Name Style',
       'National ID Number', 'Number of Records', 'Number of Records_x',
       'Number of Records_y', 'Organization Level', 'Organization Node',
       'Pay Frequency', 'Rate', 'Rate Change Date', 'Rowguid_x', 'Rowguid_y',
       'Salaried Flag', 'Sales Last Year', 'Sales Quota', 'Sales YTD',
       'Sick Leave Hours', 'Suffix', 'Territory ID', 'Title', 'Vacation Hours',
       'rowguid (Person)', 'Hire Year'],
      dtype='object')

In [311]:
df_5.shape

(290, 43)